<div class="container">
    {{> navbar}}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <form class="p-4 text-white">
                <h3 class="text-center mb-4">Get In Touch</h3>
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="nama" placeholder="Masukan Nama">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Masukan Email">
                </div>
                <div class="mb-3">
                    <label for="noHp" class="form-label">Nomor Handphone</label>
                    <input type="number" class="form-control" id="noHp" placeholder="Masukan Password">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Masukan Subject">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Pesan</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Tulis pesan..."></textarea>
                </div>
                <div class="btn-submit d-flex justify-content-end mt-5">
                    <button type="submit" class="btn btn-dark px-5"><i class="fa-solid fa-paper-plane"></i>
                        Kirim</button>
                </div>
            </form>
        </div>
    </div>
</div>