<section class="top py-5">
    <div class="container">
        {{> navbar}}
        <div class="row d-flex justify-content-center">
            <div class="alert alert-success" role="alert" style="display: none;">
                Project berhasil ditambah
            </div>
            <div class="col-lg-6">
                <form class="p-4 text-white">
                    <h3 class="text-center mb-4 fw-bold">ADD MY PROJECT</h3>
                    <div class="mb-3">
                        <label for="nama" class="form-label">Nama Project</label>
                        <input type="text" class="form-control" id="nama" required placeholder="Masukan Nama">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Tanggal Mulai</label>
                                <input type="date" class="form-control" id="startDate" required
                                    placeholder="Masukan Tanggal Mulai">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="endDate" class="form-label">Tanggal Akhir</label>
                                <input type="date" class="form-control" id="endDate" required
                                    placeholder="Masukan Tanggal Akhir">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Dekripsi</label>
                        <textarea class="form-control" id="message" rows="3" required placeholder="Tulis..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Teknologi</label>
                        <div class="row gy-3">
                            <div class="col-lg-6 col-md-6 com-sm-6 col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Node JS
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 com-sm-6 col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Vue JS
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 com-sm-6 col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Golang
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 com-sm-6 col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Python
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Gambar</label>
                        <input class="form-control" type="file" required id="formFile">
                    </div>
                    <div class="btn-submit d-flex justify-content-end mt-5">
                        <button type="submit" class="btn btn-dark px-5"><i class="fa-solid fa-paper-plane"></i>
                            Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="projects py-5">
    <div class="container">
        <div class="alert alert-success alertDelete mx" role="alert" style="display: none;">
            Project berhasil dihapus
        </div>
        <div class="container">
            <h3 class="text-center text-black mb-4 fw-bold">MY PROJECT</h3>
            <div class="row list-projects gy-4 text-center"></div>
        </div>
    </div>
</section>