<nav class="navbar navbar-expand-lg position-sticky top-0 mb-5">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand d-flex flex-row align-items-center text-white" href="/home">
      <img src="../../assets/img/upload_profile/{{ session.profile }}" alt="Logo" width="50" height="50" class="d-inline-block align-text-top me-2 rounded-circle" style="object-fit: cover;">
      {{#if session}}
        <h5>Hi, {{ session.name }}</h5>
      {{/if}}
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-center flex-grow-1">
        <li class="nav-item"><a class="nav-link" href="/home">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projek</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Kontak</a></li>
      </ul>

      {{#if session}}
        <a class="btn btn-danger" href="/logout" role="button">
          <i class="fa-solid fa-right-from-bracket"></i> Keluar
        </a>
      {{/if}}

    </div>
  </div>
</nav>